button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-family: bold;
  font-size: 35px;
  color: #ffffff;
  border: 2px solid white;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}
button:hover {
  background-color: #00471b;
}
.boton-click {
  background-color: #002ead;
}
.boton-reiniciar {
  background-color: #5a01a7;
}
